[submodule "jackson"]
	path = jackson
	url = https://github.com/lcalmsky/jackson.git
[submodule "junit5"]
	path = junit5
	url = https://github.com/lcalmsky/junit5.git
[submodule "react"]
	path = react
	url = https://github.com/lcalmsky/react.git
[submodule "spock"]
	path = spock
	url = https://github.com/lcalmsky/spock.git
[submodule "feign"]
	path = feign
	url = https://github.com/lcalmsky/feign.git
[submodule "jpa"]
	path = jpa
	url = https://github.com/lcalmsky/jpa.git
[submodule "blog-examples"]
	path = blog-examples
	url = https://github.com/lcalmsky/blog-examples.git
